
/*
source educative: w3schools.com et MDN developpers.monzilla.org/doc/web
*/

#menu {
    display: inline-block;
    width: 100%;
    height: 92px;
    background: #AAC;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    border: 0px solid #000;
    font-size: 25px; 
}

a {
    text-decoration:none
}

table{
    width: 90%;
    cellspacing: 15px;
    cellpadding: 20px;
    border:0px;
    background-color: rgb(232, 234, 238);
}

tr {
    background-color: aqua;   
    
} 

#contact tr{
    background-color: white;
    border: 0px;
    width: 90%;
    position: relative; 
    margin: auto;
    margin-left: 20px;
    height: auto; 
    float:left;

}




/*
source educative: w3schools.com et MDN developpers.monzilla.org/doc/web
*/
#header{
    position: relative; 
    text-align: center;
    width: 900px;
    margin: auto; 
    height: 200px;
    background-image: url(images/artisan5.jpg);
 }

body {
    font: 16px; 
    margin: auto ;    
    background-color:blank;
    margin-top: 15px; 
    margin-bottom: 10px;
    margin-left: 65px; 
    margin-right: 60px;
    position: relative;
    width: 90%;
    height: auto;
    background: url(images/artisan7.jpg) repeat-x center;
 }


img {
        width:220px;
        height:180px; 
}

#contact img {
    width:80px;
    height:80px; 
}


#titre h1{
    background-color: rgb(072, 255, 001);

}

/*
#contact h3{
    font-family: 'Courier New', Courier, monospace;   
    float: left;
}



source educative: w3schools.com et MDN developpers.monzilla.org/doc/web
*/





